* {
  margin: 0;
  /* background: rgb(255, 255, 255); */
}

header {
  display: flex;
}

header img {
  margin-left: 15px;
}

.gnav {
  display: flex;
  height: 2rem;
  margin: 0 auto;
  width: 1000px;
}
.gnav > li {/*親階層のみ幅を25%にする*/
  width: 25%;
  
}
/*全てのリスト・リンク共通*/
.gnav li {
  list-style: none;
  position: relative;
  z-index: 3;
  
}
.gnav li a {
  background: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
  display: block;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
  
  /* display: block;
  content: " ";
  position: absolute; */
}
/* .gnav li a:hover:after {
  background-color: rgb(151, 255, 159);
  width: 200%;
  left: -50%;
  border-radius: 5px;
} */

/* .gnav li a {
  text-decoration: none;
  color:rgb(61, 41, 41);
} */

/* .gnav li a.current {
  color:#555;
}  */
/*子階層以降共通*/
/* .gnav li ul li{
  text-align: justify;
  display: block;
} */

.gnav li li {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity .5s;
  
}
.gnav li:hover > ul > li {
  height: 2rem;
  opacity: 1;
  overflow: visible;
}
.gnav li ul li ul {
  left: 100%;
  position: absolute;
  top: 13px;
  width: 100%;
}
.gnav li ul{
  padding-left: 0px;
  text-align: justify;
}
/*hover*/  
.gnav > li:hover > a {/*親階層*/
  /* background: #00305c; */
  color: rgb(151, 255, 159);
}
.gnav > li li:hover > a {
  /* background: #004789; */
  color: rgb(151, 255, 159);

}
.gnav li ul li ul li > a {/*孫階層*/
  /* background: #004789; */
  /* color: rgb(151, 255, 159); */
}
.gnav li ul li ul li:hover > a {
  /* background: #0065c1; */
  color: rgb(151, 255, 159);
}
/*リストに「▶︎」を付ける*/
.gnav > li > ul:before{/*子階層*/
  border: 5px solid transparent;
  border-top: 5px solid rgb(31, 15, 15);
  content: "";
  right: 1rem;
  position: absolute;
  top: 1rem;
  transform: translateY(-40%);
}
.gnav > li > ul > li:before{/*子階層*/
  border: 5px solid transparent;
  border-left: 5px solid rgb(31, 15, 15);
  content: "";
  right: 1rem;
  position: absolute;
  top: 1rem;
  transform: translatex(200%);
}


/* #h_nav ul {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
  height: 80px;
}

#h_nav ul li {

  position: relative;
  padding-top: 20px;
  margin-left: 100px;
}

#h_nav ul li a {
  display: block;
  width: 100%;
  
}

#h_nav ul li a::after,
#h_nav ul li a::before {
  display: block;
  content: " ";
  position: absolute;
}

#h_nav ul li a:hover:after {
  background-color: #555;
  width: 200%;
  left: -50%;
  border-radius: 5px;
}

#h_nav ul li a {
  text-decoration: none;
  color:rgb(61, 41, 41);
}

#h_nav ul li a.current {
  color:#555;
} */

.box {
  position   : relative;
  max-width  : 100%;
  height     : 900px;
  margin     : auto;
  overflow   : hidden;
}

.box .bgImg {
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 20s infinite; 
}

.box .src1 {
  background-image : url(https://github.com/yoakami/heaka/blob/master/_AAA4001.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.box .src2 {
  background-image : url(https://github.com/yoakami/heaka/blob/master/_AAA4079.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  animation-delay  : 5s;
}

.box .src3 {
  background-image : url(https://github.com/yoakami/heaka/blob/master/_AAA4682.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  animation-delay  : 10s;
}

.box .src4 {
  background-image : url(https://github.com/yoakami/heaka/blob/master/_AAA4762.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  animation-delay  : 15s;
}

@keyframes bgAnime {
  0% { opacity: 0; }
  25% { opacity: 1; }
  50% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 0; }
}

#info {
  margin: 30px 50px;
  text-align: center;
}

.info h2 {
  margin-bottom: 15px;
  font-weight: normal;
}

footer h2 {
  text-align: center;
  font-size: 20px;
  font-weight: normal;

}

.salon {
  width: 100%;
  margin: 15px auto;
}

footer a:hover {
  color: rgb(151, 255, 159);
}

.salon h4,a {
  text-decoration: none;
  color: #000;
}

.salon p {
  font-size: 13px;
  margin-bottom: -6px;
}

.link {
  margin: 10px 0 10px 20px;
}

.tel {
  font-size: 12px;
}

.set {
  display: inline-block;
  height: 100%;
  padding: 0 20px;
}

.info-2 {
  display: inline-block;
  margin: 15px 100px;
  padding-bottom: 50px;
}

.info-2 h3 {
  padding-left: 5px;
}

footer li {
  float: left;
  padding-left: 30px;
  list-style: none;
}

.back {
  display: inline-block;
  margin: 15px 50px;
  padding-bottom: 50px;
}

footer small {
  margin-left: 550px;
}
